body{
padding: 0px;
margin: 0px;
}
  
    /*.all{
   position: -webkit-sticky;
   position: sticky;
   top: 0;
  }*/

.start{
height: 45px;
  font-family: Arial, Helvetica, sans-serif;
   padding: 20px;
    background-color: rgb(255, 255, 255); 
  
}

.start h1{
    width: 250px; height: 30px;
 text-decoration: none;
    background-color:  rgb(255, 255, 255) ;
    right: 40px;
    border-radius: 10px ;
     color:rgb(0, 0, 0); 
     position: relative; 
     bottom: 15px;
      margin-left:125px; 
      font-size: 25px;
      text-align: center;   
      
}

.start span{
    position: relative;bottom: 46.5ch; right: 42ch; color: rgb(48, 48, 48);
}
.start img{
   position: relative; 
   bottom: 210px;
    right:18ch; 
    width: 480px; ;}

    .start a{text-decoration: none; }

.start ul {

    height: 50px; color: rgb(3, 3, 3); 
    list-style: none; 
    position: relative; 
    right:530px; bottom:65px;
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.l{
   color: black;  height: 41px;  border-bottom:2px solid rgb(0, 0, 0);
}


.start li {
    margin-right: 30px; 
    float: left; font-size: 20px; text-align: center;
    cursor: pointer; 

}
.start a li{
   color: black;
}

.start ul :hover{
    height: 41px; border-bottom:2px solid rgb(0, 0, 0);
}

.start hr{
   position: relative; bottom: 46ch; 
}

.sign button{
    width: 80px; height: 35px; 
    background-color: #18b8d8;
     position: relative;
      float: right; 
      LEFT :435px;
       bottom: 55px;
       border: rgb(255, 255, 255);
       border-radius: 10px ;
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       cursor: pointer; 
}

.login button{
    width: 80px; height: 35px; 
    background-color: #18b8d8;
     position: relative;
      float: right; 
      left: 605px;
       bottom: 55px;
       border: rgb(255, 255, 255);
       border-radius: 10px ;
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       cursor: pointer; 
}



 .search{
     height: 50px; 
    /* background:linear-gradient(90deg, #000000 0% ,rgb(126, 11, 11) 0% ,rgb(0, 60, 255) 100%); */
    width: 350px;   text-align: center;
     border-radius: 60px;  position: relative; bottom:65px ;  left: 107.2ch;  
     
 }
.search input{
   width: 300px; height: 30px;  position: relative; top: 2.3px;  
    border-radius: 10px;;font-family: Arial, Helvetica, sans-serif; border: rgb(136, 135, 135) solid 
}

.search button {
   border-radius: 10px; border: rgb(136, 135, 135) solid ;height: 30px; width:45px ; background-color: rgb(255, 255, 255);
   cursor: pointer; position: relative;   top: 13px;  
}

.search button img{
  width: 45px; position: relative; right: 9px; bottom: 2px;
}
.cool{
   text-align: center;  height: 550px; background:url("./maxresdefault3.png"); 
    background-position:center ; position: relative; bottom: 6.9ch; 
     background-repeat:no-repeat  ;
    clip-path: polygon(0 0, 70% 0, 80% 100%, 0% 100%);
}
/* satrt video */
.video{
    width: 330px;
   position: relative; left: 130ch; bottom: 70ch; 
  
   
}
.video h1{
    position: relative; left: 50px; 
    font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;
    font-size: 40px;
    border-bottom: 2px solid black ; width: 300px;
}

.video p{
font-family: Arial, Helvetica, sans-serif; font-size:20px ; position: relative ; left: 40px; width: 300px; 

}

.video button{
  width: 150px; height:50px ;  position: relative; left:100px ;  top: 50px; border-radius:6px ; 
  background-color: rgb(14, 151, 94) ;
  /*background:linear-gradient(90deg, #000000 0% ,rgb(16, 163, 102) 0% ,rgb(163, 4, 4) 100%);*/
  text-align: center; font-family: Arial, Helvetica, sans-serif;   cursor: pointer; 
  margin: 5px;
   border: none;
}
.video button span{
   transition:0.5s; color: rgb(0, 0, 0);   position: relative; left:4px ; 
}
.video button span:after{
    content: '\00bb';
    position: relative;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.video button:hover span {
    padding-right: 20px;
  }
  
  .video button:hover span:after {
    opacity: 1;
    right: 1;
    transition: 0.5s;
  }


.the {
    position: relative; bottom: 250px;left:150px; width: 600px;
}
.the button{
   position: relative; right: 50px;
}

.the h1 {
    font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;
    font-size: 40px; border-bottom: 2px solid black ; width: 300px;  
}
.the p{
    width: 600px ; font-family: Arial, Helvetica, sans-serif; 
}


.all2{ height: 0.000001px; width:0.00000001px; position: relative; bottom: 2000px; }
.img1{
    height: 189px; background: url("./background1.png") ; position: relative;top: 1543px; left: 827px; background-repeat: no-repeat;
    width: 189px; transition: 0.2s;  /*clip-path: circle(69.0% at 50% 50%);*/ border-radius: 15px;
 }
 .img1:hover{
   filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72)); transition: 0.2s;
 }
 .img2:hover{
   filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
 }
 .img3:hover{
   filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
 }
 .img4:hover{
   filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
 }
 .img5:hover{
   filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
 }
 .img6:hover{
   filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
 }
 .img7:hover{
   filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
 }
 .img8:hover{
   filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
 }
 .img9:hover{
   filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
 }
 .img10:hover{
   filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
 }
 .img11:hover{
   filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
 } 
 .img12:hover{
   filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
 }
 .img13:hover{
   filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
 }
 .img14:hover{
   filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
 }
 .img15:hover{
   filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
 }
 .img16:hover{
   filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
 }
 .img17:hover{
   filter: drop-shadow(0 0 0.75rem rgb(73, 71, 72));transition: 0.2s;
 }
 .img2{
    height: 189px; background: url("./background2.png")  ; position: relative; top: 1354px;left: 1054px; background-repeat: no-repeat;
    width: 189px; /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
 }
 .img3{
    height: 189px; background: url("./background3.png")  ; position: relative; top: 1471px;left: 150px; background-repeat: no-repeat;
    width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
 }
 .img4{
    height: 189px; background: url("./background4.png")  ; position: relative; top: 1283px; left: 375px;background-repeat: no-repeat;
    width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
 }
 .img5{
    height: 189px; background: url("./background5.png") ; position: relative; top: 1093px; left: 600px; background-repeat: no-repeat;
    width: 189px; /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
 }
 .img6{
    height: 189px; background: url("./background6.png") ; position: relative; top:905px;left: 827px; background-repeat: no-repeat;
    width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
 }
 .img7{
    height: 189px; background: url("./background7.png") ; position: relative;top:717px;left: 1055px; background-repeat: no-repeat;
    width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
 }
 .img8{
    height: 189px; background: url("./background8.png") ; position: relative; top:751px;left: 150px; background-repeat: no-repeat;
    width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
 }
 .img9{
    height: 189px; background: url("./background9.png") ; position: relative; top:563px;left:375px; background-repeat: no-repeat;
    width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
 }
 .img10{
   height: 189px; background: url("./background10.png")  ; position: relative; top:373px; left: 600px; background-repeat: no-repeat;
   width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}
.img11{
   height: 189px; background: url("./background11.png")  ; position: relative;  top:184px;left: 827px; background-repeat: no-repeat;
   width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}
.img12{
   height: 189px; background: url("./background12.png")  ; position: relative; top:  -3px;left: 1055px; background-repeat: no-repeat;
   width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}
.img13{
   height: 189px; background: url("./background13.png") ; position: relative; top:35px;left: 150px; background-repeat: no-repeat;
   width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
   
}
.img14{
   height: 189px; background: url("./background14.png")  ; position: relative; bottom: 154px; left:375px;background-repeat: no-repeat;
   width: 189px; /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}
.img15{
   height: 189px; background: url("./background15.png")  ; position: relative; bottom: 343px;left: 600px; background-repeat: no-repeat;
   width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}
.img16{
   height: 189px; background: url("./background16.png")  ; position: relative; bottom: 66.5ch;left: 827px; ; background-repeat: no-repeat;
   width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}
.img17{
   height: 189px; background: url("./background17.png")  ; position: relative; bottom: 90.1ch;left: 1055px; background-repeat: no-repeat;
   width: 189px;  /*clip-path: circle(69.0% at 50% 50%);*/transition: 0.2s;border-radius: 15px;
}

.yout h1{
   position: relative; top: 27ch; left: 150px; 
   font-size: 40px; 
   border-bottom: 2px solid black ; width: 318px;
   font-family:  "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;
}
.yout p{
position: relative;top: 50ch; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;left: 150px; width: 900px;
font-size: 20px;
}
.yout iframe{
   position: relative; top: 70ch;  left: 230px;
   background-image: url("C:\Users\yahia&omar\Downloads\images.jfif");
   background-size: 100px 100px; filter:drop-shadow(0 0 0.90rem rgb(41, 41, 41))
}
.all1{
   position: relative ; bottom: 60px;height: 0.00000000000000000000001px;
}
  .bage{
     height: 55px;
     position: relative ; top: 49ch;  
     right: 90px; font-family: Arial, Helvetica, sans-serif;  
      width: 380px; 
   }
  .bage h1 { 
     width: 250px; height: 45px;
  text-decoration: none;
     background-color:  rgb(255, 255, 255) ; border-radius: 10px ;
     position: relative; top: 10px;
     font-family: Arial, Helvetica, sans-serif;
     margin-left:125px; 
     font-size: 25px;
     text-align: center;   
     
   }
   .bage span{
      position: relative; bottom: 27px;left:132px;  width: 500px;
   }
   .bage img{
 position: relative; bottom: 80px; left: 23px;
   }

  .bage a {
     text-decoration: none ; color: rgb(0, 0, 0);
  }
 
.lang{
   height: 200px;position: relative; top: 80ch; background-color: rgb(47, 50, 51);
 
  }
  .lang  span{
     color: rgb(255, 255, 255); position: relative; top: 48px; left: 155.7ch;

  }
.lang a{
   text-decoration: none; color: rgb(255, 255, 255); font-family: Arial, Helvetica, sans-serif;
   position: relative; top: 50px; left: 140ch;
}  

   .lang a:hover{
      color: rgb(22, 197, 124);}
   .iconlang{
      content: none;
      background: url("./back/images\ \(13\).png"); height: 100px; width: 100px;
   }
.all1 hr {
   width: 169ch; position: relative; bottom: 25px;
}


.lang1 a{
   position: relative;top:3px; left: 1px; color:rgb(255, 255, 255);
   color: rgb(22, 197, 124);
   
   }
   /*.lang1 a::before{
      content: "\25C0"; 
      width: 50px;
      height: 50px;
      color: rgb(22, 197, 124);; position: relative;
      right: 2px;
      
   }
   .lang1 a::after{
      content: "\25BA"; 
      width: 50px;
      height: 50px;
      color: rgb(22, 197, 124);;
      
      
   }*/

.tel{
   color: rgb(255, 255, 255); position: relative; top: 540px; left: 138ch;font-family: Arial, Helvetica, sans-serif;
}
.made{
   color: rgb(255, 255, 255); position: relative; top: 520px; left: 120.7ch;font-family: Arial, Helvetica, sans-serif;
}

.tel:after{
   content: "01019153027";
   position: relative;
   left: 5px; color: rgb(22, 114, 131);
}
.made:after{
   content: "Yahia Ahmed";
   position: relative;
   left: 5px; color: rgb(22, 114, 131);
}
.info{
   position: relative; top: 400px;  left: 400px; 
   color: rgb(255, 255, 255);font-family: Arial, Helvetica, sans-serif;
   font-size: 20px; width: 650px;
   
}.info li{
   list-style:none; float: left; margin:33px   ;
}
.info a{
    color: rgb(255, 255, 255);
}
.info li:hover{
    font-size: 21px;
}
/*.fuck img{
    width: 160px;
    position: relative; bottom: 720px; left: 30px;  } */


/*on mobile*/

@media screen and (max-width:600px) {
   .sign {
    position: relative; right: 505px; bottom: 100px;
   }
   .sign button{
      width: 39px; font-size: 9.5px;border-radius:7px ;  position: relative; left: 430px; bottom: 307px;
      border-radius:7px ; height: 25px;
   }
   
.login{
position: relative; right: 590px; bottom: 200px; 
}
.login button{
   width: 39px; height: 25px; font-size: 10px;position: relative; left: 603px; bottom: 207px;  border-radius:7px ;
}

}
@media screen and (max-width:600px) {
   .start h1{
      font-size: 18px;  position: relative; top: -7px; right: 145px;
      font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;
      font-weight: 700;
  
   }
   .start span{
      position: relative; left: -185px; font-size: 9px; width:100px ;  bottom: 302px; margin: -100px; font-weight: 300;
      font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;

   }
   .start img{
      position: relative; bottom: 152px;right: 131px; width: 340px;
   }
   .start hr{
      position: relative; top:-256px; margin: -20px; left: 10px;
   }
   
}
@media screen and (max-width:600px){
   .search{
      position: relative; left: 196px; bottom: 66px; width: 130px; 
   }
   .search button{
      width: 35px; height:25px ;
   }
   .search button img{
      width: 35px;position: relative; top:-2.5px; height:22px ;
   }
   .search input {
     width: 70px; font-size: 10px; position: relative; top: -666px; opacity: 0;
   }
}
@media screen and (max-width:600px){
   .cool{
      position: relative; bottom: 55px; right: 503px; background: url(./back/maxresdefault3-Recovered.png); width: 900px;
       text-align: center;  height: 466px;  clip-path: polygon(0 0, 80% 0, 90% 100%, 0% 100%);
   }
   .video{
      position: relative;left: 186px; width: 120px; top: -543px;
   }
   .video h1{
      font-size: 18px; position: relative; left: 80px; bottom: -49px; width: 140px;
   }
   .video p{
      font-size: 18px; width: 100px;position: relative; left: 110px; bottom: -56px;
   }
   .video button{
      width: 80px; position: relative; left: 115px;  font-size: 10px; height: 30px;
   }
   .video button:hover span:after {
      opacity: 1;
      right: 0.1;
      transition: 0.5s;
    }
  
}

@media screen and (max-width:600px){

   .the{
      position: relative; left: 15px;   bottom: 360px;
   }
   .the  h1{
      font-size: 30px; width: 232px;
   }
   .the p{
      font-size:11px;  width: 387px
   }



}
@media screen and (max-width:600px){
   .all2{
      position: relative; bottom: 1970px;
   }
   .img1{
      position: absolute; left:18px ; top:1660px;
   }
   .img2{
      position: absolute; left:236px ; top:1660px;
   }
   .img3{
      position: absolute;left:18px ;  top:1870px;
   }
   .img4{
      position: absolute; left:236px ; top:1870px;
   }
   .img5{
      position: absolute; left:18px ;  top:2081px;
   }
   .img6{
      position: absolute; left:236px ; top:2081px;
   }
   .img7{
      position: absolute; left:18px ;  top:2294px;
   }
   .img8{
      position: absolute;left:236px ; top:2294px;
   }
   .img9{
      position: absolute; left:18px ;  top:2508px;
   }
   .img10{
      position: absolute;left:236px ;top:2508px;
   }
   .img11{
      position: absolute;left:18px ; top:2722px;
   }
   .img12{
      position: absolute; left:236px ;top:2722px;
   }
   .img13{
      position: absolute; left:18px ; top:2937px;
   }
   .img14{
      position: absolute; left:236px ; top:2937px;
   }
   .img15{
      position: absolute; left:18px ;  top:3153px;
   }
   .img16{
      position: absolute; left:236px ; top:3153px;
   }
   .img17{
      position: absolute; left:18px ;  top:3367px;
   }
}
@media screen and (max-width:600px){
   .yout{
      position: relative; top:1530px ;right: 100px;  height: 0.000000000001px; width: 0.00000000000001px
   
   }
   .yout h1{
      font-size: 30px;width: 240px;position: relative; top:100px;
   }
   .yout p{
      font-size: 15px;position: relative; top:89px;width: 383px;
   }
   
   .yout iframe{
      position: relative; ; width: 362px; top:120px;height: 350px;left: 142px;
   }
   
}
@media screen and (max-width:600px){
.all1{
   position: relative; top: 1550px; height: 0.000000000001px;
}


.bage h1{
   font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;
font-size: 19px; position: relative; right: 25px; width: 150px; height: 30px;
}
.bage span{
   font-size: 11px;   font-family: "Giorgio Sans Bold",AvenirNextCondensed-DemiBold,HelveticaNeue-CondensedBold,"Helvetica Inserat","Franklin Gothic Condensed",Haettenschweiler,Impact,sans-serif-condensed,sans-serif;
position: relative; left: 100px; bottom: 22px;
}
.lang a{
   position: relative; left: 290px;top: 29px;
}
.lang1 a{
   position: relative; left: -2px;top: 2px;
}
.lang span{
  position: relative;  left: 35.69999999999999ch;top: 27px;
}
.info{
   position: relative; left: -15px; font-size: 15px; bottom: -15px;
}
.info li {
   margin:20px ; position: relative; top:15px
}
.info li:hover{
   font-size: 16px;
}
.tel{
   position: relative; left: 260px;
}
.made{
   position: relative; left: 108px;
}
.all1 hr{
width: 63ch; top: -8px;
}
body{
   padding: -8px; margin: -8px;
}
}
